POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sales_db
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/sales_db
REDIS_URL=redis://redis:6379/0
SECRET_KEY=change_me_secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
